* {
    margin: 0;
    padding: 0;
}

/* layout is basically 20 x 8 units, text ~ 1 unit */

html {
    --unit: calc(1cm);
}

@media (orientation: portrait) and (max-aspect-ratio: 1/2) and (max-width: 9cm) {
    html {
        --unit: calc(100vw / 9);
    }
}

@media (orientation: portrait) and (min-aspect-ratio: 1/2) and (max-height: 22cm) {
    html {
        --unit: calc(100vh / 22);
    }
}

@media (orientation: landscape) and (max-aspect-ratio: 5/2) and (max-width: 22cm) {
    html {
        --unit: calc(100vw / 22);
    }
}

@media (orientation: landscape) and (min-aspect-ratio: 5/2) and (max-height: 9cm) {
    html {
        --unit: calc(100vw / 9);
    }
}

html {
    background-size: cover;
    background-position: center;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: sans-serif;
    --button-color: #525770;
    --button-color-highlight: #749bc6;
    --button-color-2: #8a97b0;
    font-size: calc(var(--unit) * 0.75);
}

body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
}

#main>form {
    grid-row: 2;
}

#main>div.container {
    grid-row: 2;
}

#error {
    grid-row: 1;
    color: #bd2e12;
    font-size: calc(16em / 22);
    align-self: end;
    padding: calc(0.15 * var(--unit)) calc(0.5 * var(--unit));
    max-width: var(--input-width);
    display: inline-block;
    box-sizing: border-box;
}

#sub_page_link {
    background-image: url(chevron-down.svg);
    align-self: end;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: calc(1 * var(--unit));
    width: calc(1 * var(--unit));
    height: calc(1 * var(--unit));
}

.container {
    align-self: center;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(boxlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--input-width);
    box-sizing: border-box;
}

.container>* {
    border: none;
    background-color: var(--button-color);
    min-height: calc(0.9 * var(--unit));
    border-radius: calc(0.075 * var(--unit));
    margin: calc(0.2 * var(--unit));
    padding: calc(0.1 * var(--unit));
    padding-left: calc(1.2 * var(--unit));
    box-shadow: 0 0 0 calc(0.2 * var(--unit)) var(--button-color);
}

input,
select {
    font: inherit !important;
}

*::placeholder {
    color: black;
    opacity: 0.5;
}

input[type=text],
input[type=password],
#select,
#webauthn_text {
    align-self: stretch;
    background-repeat: no-repeat;
    background-size: calc(0.8 * var(--unit));
}

input[type=text],
input[type=password] {
    background-position: calc(0.15 * var(--unit)) center;
}

input[name=user] {
    background-image: url(account.svg);
}

input[name=pass] {
    background-image: url(asterisk.svg);
}

input[type=submit] {
    /* Appearance needed? (OSX?) */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
    box-shadow: 0 0 0 calc(0.05 * var(--unit)) var(--button-color-highlight), 0 0 0 calc(0.2 * var(--unit)) var(--button-color);
    padding-right: calc(1.2 * var(--unit));
    white-space: normal;
    overflow-wrap: break-word;
}

input[type=submit]:hover {
    background-color: var(--button-color-highlight);
}

input[type=submit]#confirm {
    align-self: stretch;
    background-repeat: no-repeat;
    background-size: calc(0.8 * var(--unit));
    background-position: calc(0.15 * var(--unit)) center;
    background-image: url(check.svg);
}

#select {
    display: flex;
    flex-direction: column;
    background-image: url(account.svg);
    background-position: calc(0.15 * var(--unit)) calc(0.15 * var(--unit));
    padding: 0;
    align-items: stretch;
    height: calc(2.3 * var(--unit));
}

#select:before {
    content: 'Profile';
    display: block;
    text-align: center;
    box-sizing: content-box;
}

select {
    background-color: var(--button-color-2);
    text-align-last: center;
    border: none;
    margin-top: calc(0.5 * var(--unit));
    border-radius: calc(0.125 * var(--unit));
}

#webauthn_text {
    background-position: calc(0.15 * var(--unit)) center;
    background-image: url(fingerprint.svg);
    background-size: calc(1 * var(--unit));
    padding-left: calc(1.5 * var(--unit));
}

label {
    display: none;
}

#identity {
    border-top: calc(0.1 * var(--unit)) solid #191919;
    text-align: center;
    width: 100%;
    background: #cfd2d8;
}

#identity h1 {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
}

#identity dl {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

#identity dl>* {
    padding: calc(0.25 * var(--unit));
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
}

dd {
    grid-column: 1;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

dt {
    grid-column: 2;
    text-align: left;
}

dt:empty::after {
    content: '';
    display: block;
    border: calc(0.05 * var(--unit)) solid rgba(0, 0, 0, 0.1);
    margin: calc(0.2 * var(--unit)) 0;
    width: calc(1 * var(--unit));
    height: calc(0.35 * var(--unit));
    border-radius: calc(1 * var(--unit));
    box-sizing: border-box;
}

@media (orientation: portrait) and (max-width: 25cm) {
    html {
        --input-width: calc(8 * var(--unit));
        background-image: url(bg_desktop.jpg);
    }
    .container {
        background-position: center top;
        width: calc(8 * var(--unit));
        padding-top: calc(8.5 * var(--unit));
        align-items: flex-end;
    }
    .container>* {
        margin: calc(0.5 * var(--unit));
    }
    #webauthn_text {
        align-self: stretch;
    }
    dl {
        font-size: 0.8em;
    }
}

@media all and (orientation: landscape),
all and (orientation: portrait) and (min-width: 25cm) {
    html {
        --input-width: calc(20 * var(--unit));
        background-image: url(bg_desktop.jpg);
    }
    .container {
        background-position: left center;
        height: calc(8 * var(--unit));
        padding-left: calc(9.5 * var(--unit));
        align-items: flex-start;
    }
}