<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>oidle - {{dest_host}}</title>
</head>
<body>
    <div id="main">
        <form method="post" action="{{action}}" id="form"><div class="container">
            <input type="hidden" value="1" name="confirm">
            <input type="submit" value="Log in to {{dest_host}}" id="confirm">
        </div></form>
    </div>
</body>
</html>