<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>oidle - {{dest_host}}</title>
</head>

<body>
    <script id="data" type="application/json">{{identities}}</script>
    <dev id="main" class="tag-identity">
        <span id="error">{{error}}</span>
        <form method="post" action="{{action}}"><div class="container">
            <div id="select">
                <select name="identity"></select>
            </div>
            <input type="submit" value="Login">
        </div></form>
        <a href="#sub_page" id="sub_page_link"></a>
    </dev>
    <a name="sub_page"></a>
    <p></p>
    <div id="identity">
        <h1>Profile</h1>
        <dl></dl>
    </div>
    <script type="text/javascript" src="static/identity.js"></script>
</body>

</html>