<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>oidle - {{dest_host}}</title></head>
<body>
    <div id="main">
        <span id="error">{{error}}</span>
        <form method="post" action="{{action}}"><div class="container">
            <label for="user">User</label><input 
                type="text" 
                name="user" 
                autocomplete="username" 
                spellcheck="false"
                value="{{user}}" 
                placeholder="User"
                {{#unless user}}autofocus{{/unless}}>
            <label for="pass">Pass</label><input 
                type="password" 
                name="pass" 
                autocomplete="current-password" 
                spellcheck="false"
                placeholder="Pass"
                {{#if user}}autofocus{{/if}}>
            <input type="submit" value="Login">
        </div></form>
    </div>
</body>
</html>