<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>oidle - {{dest_host}}</title>
</head>
<body>
    <div id="main">
        <div class="container">
            <p>{{message}}</p>
        </div>
    </div>
</body>
</html>