<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>oidle - {{dest_host}}</title>
</head>
<body>
    <script id="data" type="application/json">{{data}}</script>
    <div id="main">
        <span id="error">{{error}}</span>
        <form method="post" action="{{action}}" id="form"><div class="container">
            <input type="hidden" name="authenticatorId">
            <input type="hidden" name="clientDataJSON">
            <input type="hidden" name="authenticatorData">
            <input type="hidden" name="signature">
            <p id="webauthn_text">Confirm...</p>
        </div></form>
    </div>
    <script type="text/javascript" src="static/webauthn.js"></script>
</body>
</html>